* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

img {
  width: 100%;
}

/* NAVBAR */

.nav-img {
  width: 5vw;
}

.star {
  color: rgb(190, 190, 51);
}

.repos {
  /* border: solid red; */
  width: 100vw;
  /* display:flex; */
  /* justify-content: center; */
}

.repos-container {
  /* border: solid; */
  width: 100%;
}

.arrow-down {
  color: steelblue;
}