* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

img {
  width: 100%;
}

/* NAVBAR */

.navbar-title {
  letter-spacing: 0.1rem;
}

.nav-img {
  width: 5vw;
}

.star {
  color: rgb(190, 190, 51);
}

.repos {
  width: 90vw;
  align-items: center;
}

.repos-container {
  width: 100%;
}

.arrow-down {
  color: steelblue;
}

@media (max-width: 475px) 
{
  .navbar-title {
    font-size: 1.5rem;
  }

  .nav-img {
    width: 10vw;
  }

}